@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    box-sizing: border-box;
    }

/*Daniela*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    background-image: url(img/3..jpeg);
}

#botonAcompanamiento{
    position: relative;
    margin-top: 10%;
    left: 33%;
    background-color: #53afec;
    color: #ffffff;
}

textarea{
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    height: 5em;
}

#nombreC{
    width: 95%;
    font: 50px;
    height: 2em;
}

section {
    position: absolute;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    left: 80px;
}

section .logo {
    position: absolute;
    visibility: hidden;
    top: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
}

.bg {
    position: absolute;
    height: 100%;
    left: 800px;
}

.bg img {
    max-width: 380px;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(80px);
    }
}

section .content {
    max-width: 650px;
}

section .content h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.1em;
}

section .content p {
    color: #fff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}

section .content a {
    color: rgb(0, 0, 0);
    background: #ffffff;
    font-size: 1em;
    margin: 20px 0;
    font-weight: 500;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
}


/*.CopyrightText {
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 1.1em;
    margin: 20px;
} */

#landing_navbar {
    position: fixed;
    width: 220px;
    height: 100%;
    background: #000102;
    font-family: 'Comfortaa', cursive;
    left: -220px;
    transition: all 500ms linear;
    border: 1px #fff solid;
    z-index: 100;
}

#landing_navbar.active {
    left: 0;
    position: fixed;
}

#landing_navbar ul li {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 20px 10px;
    list-style: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

#landing_navbar li:first-child {
    border-top: 1px solid rgb(255, 255, 255);
}

#landing_navbar a {
    text-decoration: none;
    color: #fff;
}

#navbar_logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 12px;
}

button {
    position: absolute;
    top: 94%;
    left: 19%;
    transform: translate(-5%, -75%);
}

button {
    background: none;
    color: #ccc;
    width: 140px;
    height: 50px;
    border: 1px solid #53afec;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:focus {
    outline: none;
}

button::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

button:hover {
    background: #53afec;
    cursor: pointer;
}

button:hover:before {
    transform: translateX(300px) skew(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover::after {
    transform: translateX(300px) skew(-15deg);
    opacity: 1;
    transition: .7s;
}

#landing_navbar .toggle-btn {
    position: absolute;
    left: 235px;
    top: 180px;
    cursor: pointer;
}

#landing_navbar .toggle-btn span {
    display: block;
    color: rgb(0, 0, 0);
    width: 42px;
    height: 43px;
    text-align: center;
    font-size: 30px;
    border: rgb(255, 255, 255) 1px solid;
    background-color: #ffffff;
    border-radius: 7px;
}

#landing_navbar .face-btn {
    position: absolute;
    left: 235px;
    top: 240px;
    cursor: pointer;
}

#landing_navbar .face-btn span {
    display: block;
    color: #fff;
    width: 42px;
    height: 43px;
    text-align: center;
    padding: 7px;
    font-size: 30px;
    border: rgb(#000dbe) 1px solid;
    background-color: #1c2bff;
    border-radius: 7px;
}

#landing_navbar .twitter-btn {
    position: absolute;
    left: 235px;
    top: 298px;
    cursor: pointer;
}

#landing_navbar .twitter-btn span {
    display: block;
    color: #fff;
    width: 42px;
    height: 43px;
    text-align: center;
    padding: 6px;
    font-size: 30px;
    border: rgb(#399cff) 1px solid;
    background-color: #74baff;
    border-radius: 7px;
}

#landing_navbar .inst-btn {
    position: absolute;
    left: 235px;
    top: 358px;
    cursor: pointer;
}

#landing_navbar .inst-btn span {
    display: block;
    color: #fff;
    width: 42px;
    height: 43px;
    text-align: center;
    padding: 6px;
    font-size: 30px;
    border: rgb(#fa6dff) 1px solid;
    background-color: #fa6dff;
    border-radius: 7px;
}

#form_registro_usuario {
    text-align: center;
    padding: 10%;
    display: block;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}

.ingresar {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-5%, -75%);
    background: none;
    color: rgb(255, 255, 255);
}

h1 {
    padding: 60px;
    text-align: center;
}

/*hasta aqu[i es el de index*/

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
}

.circle {
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.gradient-circle {
    background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    rgb(153, 226, 236) 40%,
    rgb(153, 226, 236) 60%,
    #336d62 60%,
    #2a5b52 100%
    );
    height: 320px;
    width: 320px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
}

.pointer {
    background-color: rgb(149, 223, 233);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

@keyframes rotate {
    from {
    transform: rotate(0deg);
    }

    to {
    transform: rotate(360deg);
    }
}

.container.grow {
    animation: grow 3s linear forwards;
}

@keyframes grow {
    from {
    transform: scale(1);
    }

    to {
    transform: scale(1.2);
    }
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes shrink {
    from {
    transform: scale(1.2);
    }

    to {
    transform: scale(1);
    }
}

.divisores {
    background: rgb(255, 255, 255);
    height: auto;
    width: 40%;
    margin-top: 20px;
    display: inline-block;
    color: #2d90f3;
}

.inside{
    margin-top: 5%;
    margin-left: 5%;
}

.divisores h2{
    padding: auto;
    margin-top: 5%;
}

.divisores p{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #000102;
}

.divisores form{
    color: #000102;
}

.divisores ul {
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
}

.divisores ul li{
    list-style: none;
}

#container{
    margin: 15%;
}

#container p{
    color: #ffffff;
}


.titulo{
    text-align: center;
    margin: auto;
}

#acompanamiento{
    position: absolute;
    top: 20.5%;
    left: 52.5%;
}

#apartadoRelajacion{
    margin-left: 7.5%;
}

#recursos{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);

}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #399cff
}

::-webkit-scrollbar-thumb:hover{
    background-color: #1c2bff;
}
